@model ShopHoa.Models.Auth.Customer.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="container-lg">
    <h2>Login</h2>
    @if (ViewBag.Error != null)
    {
        <p style="color: red;">@ViewBag.Error</p>
    }
    <form method="post">
        <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="email" name="Email" class="form-control" required />
            <label class="form-label" for="Email">Email address</label>
        </div>

        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-4">
            <input type="password" id="form2Example2" name="MatKhau" class="form-control" required />
            <label class="form-label" for="form2Example2">Password</label>
        </div>

        <!-- 2 column grid layout for inline styling -->
        <!-- Submit button -->
        <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">Sign in</button>
    </form>
</div>

